footer.footer.container
    .copirating © 2009–2016 Офис «В Беляево». При использовании материалов ссылка на сайт обязательна
    .web-stuidio
        a.web-stuidio__link(href="https://aevrika.ru/" target="_blank")
            span
                img(src="img/lamp-icon.svg")
            | Разработка и продвижение — «ЭВРИКА»