.buildings
  background-color: #f7f7f7
  padding: 20px 0 49px
  text-align: center

  .btn
    width 279px
    height 48px
    margin-top: 52px
    border none
    border-radius 4px
    box-shadow 0px 4px 10px 0 rgba(116, 207, 183, 0.46)
    background-color #74cfb7
    cursor pointer
    color #fff
    font-size 14px
    &:hover
      background-color #079fc2
      transition: all .3s ease-in-out

.build
  background-color: #fff
  display: flex
  height: 520px
  color: #1f252d
  margin-top: 40px
  text-align: left


  &__info
    width 580px
    box-sizing border-box
    padding: 35px 41px 50px 53px

  .info
    &__title
      font-size: 24px
      font-weight: 500
    &__more
      font-size: 14px
      padding 23px 0 22px
      .icon
        padding-right: 15px
      span
        opacity 0.6
        font-size 13px
        color #1f252d99
        padding-left: 19px
    &__other
      font-size 14px
      color #1f252d

    .price
      padding 26px 0 29px
      &__row
        &:nth-child(-n+4) .price__cell
          border-bottom 1px solid #e7e7e7
      &__cell
        width 50%
        padding 5px 0
      .cell-l
        color: #1f252d99
      .cell-r
        padding-left: 25px
        border-left 1px solid #e7e7e7

  .info
    &__privileges
      display: flex
      justify-content space-between
      align-items center
      list-style-type none

    .privileges
      &__item
        display: flex
        align-items center
        padding: 12px 28px 12px 15px
        background-color: #f7f7f7
        border-radius 4px
        &__icon
          margin-right: 10px
        &__text
          font-size: 11px
          font-weight: 500
          color #079fc2



  &__pic
    width: 600px
    height: 100%
    text-align: center
    .btn
      width 222px
      height 48px
      margin-top: 437px
      border none
      border-radius 4px
      box-shadow 0px 4px 10px 0 rgba(116, 207, 183, 0.46)
      background-color #74cfb7
      cursor pointer
      color #fff
      font-size 14px
      &:hover
        background-color #079fc2
        transition: all .3s ease-in-out
  .pic1
    background url('/img/build1.jpg') no-repeat center
